@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';

.about-page {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
}
  
.about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: $avenir-bold, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
}
  
.section {
    margin-bottom: 2rem;
}
  
.section-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $blue;
    text-align: center;
    font-family: $avenir-bold, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
  
.section-content {
    color: $darkblack;
    text-align: center;
    font-family: $avenir-regular;
    color: $darkblack;
    font-weight: 400;
    font-size: 0.875rem;
}
  
.values-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: $avenir-regular;
    color: $darkblack;
    font-weight: 400;
    font-size: 0.875rem;
}
  
.value-item {
    margin-bottom: 0.5rem;
}
