@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';



.login-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.mentor-signup-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.mentor-signup-link a {
    color: $blue;
}

a {
    color: $blue;
}