@import './fonts';

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;


$avenir-bold: avenir-bold;
$avenir-demi: avenir-demi;
$avenir-regular: avenir-regular;

// Primary Colors
$black: #323232;
$blue: #02497B;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary Colors
$darkblack: #000000;
$darkblue: #0065AD;
$mercury: #E1E1E1;