@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';


.post-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4F2EE;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &__avatar {
      margin-bottom: 1rem;
    }
  
    &__avatar-img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 0.75rem;
      background-color: #e1e1e1;
    }
  
    &__post-input {
      margin-bottom: 1rem;
      display: none;
    }

    &__media-label {
        cursor: pointer;
        display: inline-block;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        border-radius: 4px;
    }

    &__media-icon {
        margin-right: 8px;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
    }

    &__post-preview {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
        max-height: 300px; 
    }
      
  
    &__post-preview {
      max-width: 20rem;
      height: auto;
      margin-bottom: 1rem;
    }
  
    &__post-textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
      margin-bottom: 1rem;
      font-family: $avenir-regular, Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
    }
  
    &__submit-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 0.875rem;
      font-family: $avenir-demi, Arial, Helvetica, sans-serif;
    }
  
    &__submit-button:hover {
      background-color: #0056b3;
    }
}
  