@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';

.post {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
    justify-content: center;
    padding: 2rem;
    max-width: 40rem;
    border-radius: 8px;
}
  

.posts {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.post__avatar {
    flex: 0 0 auto;
    margin-right: 1rem;
}
  
.post__avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.post__content {
    flex: 1 1 auto;
}
  
.post__image {
    max-width: 100%;
    margin-bottom: 1rem;
}
  
.post__text {
    margin: 0;
    font-size: 0.875rem;
    padding-bottom: 1rem;
}
  